main {
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #316FF6;
}

#feed, #manage-list {
    width: 95%;
    padding: 10px;
}

#authors, #books, #genres {
    background-color: inherit;
    background-image: url('/static/images/select-author.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 200px;
    color: inherit !important;
    border-right: 1px solid #316FF6;
    border-radius: 20px;
    margin: auto;
}

#views-menu a {
    color: inherit !important;
    margin: 10px auto;
}

#books {
    background-image: url('/static/images/select-books.svg');
}

#genres {
    background-image: url('/static/images/select-genres.svg');
}

#manage-list {

    display: flex;
    flex-wrap: wrap;
}

#views-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.random-quotes, .suggested {
    display: flex;
    flex-direction: row !important;;
    justify-content: space-between;
    padding: 10px;
}

.suggested {
    flex-wrap: wrap
}

h2 {
    margin: 15px 25px;
}

.quote {
    min-width: 30%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.quote button, .suggested-book button {
    background-color: #316FF6;
    padding: 10px;
    margin: 20px 0px;
    color: white;
}

@media (min-width: 901px) {
    .suggested-book {
        max-width: 35%;
    }
}

.suggested-book {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px 10px;
    border-radius: 10px;
    padding: 20px;
}

.suggested-book img {
    max-width: 200px;
    border-radius: 10px;
    margin: 10px 0px;
}
