main {
    background-color: #e0e0e0;
    border-radius: 25px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #316FF6;
}

#authors, #books, #genres {
    background-color: inherit;
    background-image: url('/static/images/select-author.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 200px;
    color: inherit !important;
    border-right: 1px solid #316FF6;
    border-radius: 20px;
    margin: auto;
}

#views-menu a {
    color: inherit !important;
    margin: 10px auto;
}

#books {
    background-image: url('/static/images/select-books.svg');
}

#genres {
    background-image: url('/static/images/select-genres.svg');
}

#manage-list {

    display: flex;
    flex-wrap: wrap;
}

#views-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
}

.random-quotes, .suggested {
    display: flex;
    flex-direction: row !important;;
    justify-content: space-between;
    padding: 10px;
}

.suggested {
    flex-wrap: wrap
}

h2 {
    margin: 15px 25px;
}

.quote {
    min-width: 30%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.quote button, .suggested-book button {
    background-color: #316FF6;
    padding: 10px;
    margin: 20px 0px;
    color: white;
}

@media (min-width: 901px) {
    .suggested-book {
        max-width: 35%;
    }
}

.suggested-book {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px 10px;
    border-radius: 10px;
    padding: 20px;
}

.suggested-book img {
    max-width: 200px;
    border-radius: 10px;
    margin: 10px 0px;
}

#review-activity {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 5px;
}

#review-activity img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

#reviews, #books-activity {
    padding: 10px;
    border-radius: 25px;
}

@media (min-width: 900px) {
    #reviews, #books-activity {
        flex: 1;
    }
}

#books-activity h4 {
    width: fit-content;
    margin-left: auto;
}

#books-activity .history-book {
    min-height: 150px;
    min-width: 350px;
}

@media (max-width: 540px) {
    #books-activity .history-book {
        min-width: 300px;
    }
}

#books-activity .history-book {
        margin-left: auto;
    }
    
#books-activity {
    margin: auto;
    height: fit-content;
    width: 350px;
    margin-left: auto;
}

@media (max-width: 900px) {
    #books-activity .history-book {
        margin: auto;
    }
}

.review {
    display: flex;
    gap: 10px;
    margin: 15px 0px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.text {
    margin: 0;
    background-color: #316ff652;
    padding: 5px 15px;
    border-radius: 15px;
}

.text .name {
    background: #316FF6;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 10px;
    margin: 0px 0px 10px 0px;
    color: white;
}

.go {
    background-color: inherit !important;
    background-image: url('/static/images/dropdown-icon.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
    width: 10px;
    height: 10px;
    color: white !important;
    transform: rotate(-90deg);
}
