main {
    padding: 20px;
    background-color: #e7e8e9;
    background-image: url('../images/desktop-library-background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow: auto;
    min-height: 480px;
}

@media (max-width: 900px) {
    main {
        background-image: url('../images/mobile-library-background.jpeg');
    }
}

h2 {
    margin: 0px 15px;
}

#results {
    color: white !important;
    padding: 10px;
    background-color: #e7e8e900 !important;
    backdrop-filter: blur(100px);
    border-radius: 25px;
}

#results nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 50px;
    margin: 10px;
}

input[type="search"] {
    border-radius: 30px;
    border: none;
    height: 40px;
    width: 200px;
    margin-top: 5px;
    background-color: #F0F2F5;
    padding: 20px;
}

#add-resource {
    width: 40px;
    height: 40px;
    margin: 5px 0px;
}

.resource {
    border: 3px solid #89a0b8;
    border-radius: 15px;
    padding: 10px;
    margin: 15px 0px;
}

.resource .data {
    display: none;
}

.resource:hover .data {
    display: block;
}

.resource .data img {
    max-width: 150px;
    border-radius: 75px;
}

button, .confirm input[type="submit"] {
    background-color: #316FF6;
    padding: 10px;
    margin: 20px 0px;
    color: white;
    display: block;
}

.book_list {
    display: none;
    background-color: inherit;
    border-radius: 15px;
    padding: 10px;
}

.edit, .trash {
    background-color: white;
    background-image: url('/static/images/edit-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 30px;
    min-height: 30px;
}

.trash {
    background-image: url('/static/images/trash-icon.svg');
    border: 3px solid rgb(216, 49, 49);
}

.button_container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: inherit;
    border-radius: 15px;
}

.confirm {
    width: 50%;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    position: absolute;
    top: 13%;
    left: 23%;
	background-color: none;
	backdrop-filter: blur(20px);
    display: none;
    flex-direction: column;
    padding: 20px;
    z-index: 100;
}

form {
    display: flex;
    flex-direction: column;
}

.confirm input {
    border-radius: 30px;
    border: none;
    background-color: #F0F2F5;
    padding: 10px;
    margin: 5px 0px;
    max-width: 98%;
}

#new_resource input[type="file"] {
    width: 90%;
}

.cancel {
    width: 40px;
    background: red;
    margin: 0;
    margin-left: auto;
}

.edit-resource {
    display: flex;
    border-radius: 15px;
}

#genres, #authors {
    color: grey;
    opacity: 50%;
}

.error {
    color: red;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(163, 57, 57, 0.363);
}

textarea {
    border: 3px solid white;
    width: 90%;
    margin: auto;
}

@media (max-width: 900px) {
    .confirm, form {
        width: 80%;
        left: 15px;
    }
}
