main {
    display: flex;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    width: 30%;
}

a {
    text-decoration: none;
    color: inherit;
}

aside h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
    border-bottom: 1px solid gray;
}

aside h3,  aside h2 {
    margin-top: 5px;
    margin-left: 20px;
}

.results_nav {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 15px;
}

.results_nav button {
    text-align: left;
    padding: 10px 60px;
    background: none;
    border-radius: 15px;
    border: none;
}

.results_nav button:hover {
    background-color: #e7e8e9;
    color: black !important;
}

#all, #authors, #books, #genres, #users {
    background-image: url('/static./images/select-all.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px 0px;
    color: inherit;
}

#authors {
    background-image: url('/static/images/select-author.svg');
}

#books {
    background-image: url('/static/images/select-books.svg')
}

#genres {
    background-image: url('/static/images/select-genres.svg');
}

#users {
    background-image: url('/static/images/select-users.svg');
}

#results {
    width: 70%;
    background-color: #e7e8e9;
}

.author, .book, .genre, .user, .not-found {
    width: 60%;
    height: 200px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    background-color: white;
    background-image: url('/static/images/author-avatar.jpeg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.book {
    background-image: url('/static/images/vintage-book.png');
}

.genre {
    background-image: url('/static/images/genre.jpg');
}

.user {
    background-image: url('/static/images/user-avatar.jpg');
}

.description {
    float: right;
}

.title {
    background-color: #316FF6;
    color: white;
    padding: 10px;
    padding-right: 5px;
    border-radius: 10px;
}

.description button {
    padding: 10px;
    background-color: #316FF6;
    color: white;
    margin-left: auto;
    margin: 10px;
}

.description select {
    background-color: white;
    color: #316FF6;
    border: none;
    border-radius: 10px;
}

.naming {
    background-color: white;
    color: #316FF6;
    padding: 5px;
    border-radius: 10px;
}

.go {
    background-color: #059e54 !important;
}
