main {
    display: flex;
}

aside {
    width: 30%;
    border: 1px solid grey;
}

aside h3,  aside h2 {
    margin-top: 5px;
    margin-left: 20px;
}

.results_nav {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

.results_nav button {
    text-align: left;
    padding: 10px 60px;
    background: none;
    border-radius: 15px;
    border: none;
}

.results_nav button:hover {
    background-color: #e7e8e9;
}

.results {
    border: 1px solid grey;
    width: 70%;
    background-color: #e7e8e9;
}

.item {
    width: 80%;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    background-color: white;
}
