<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if confirmed == True %}
            Email confirmed
        {% else %}
            Confirmation failed
        {% endif %}
    </title>
</head>
<body>
    {% if confirmed == True %}
        <h3>Email Confirmed!</h3>
        <h1>Welcome to Libly</h1>
    {% else %}
        <h3>Email Confirmation failed.</h3>
        <button>Resend email</button>    
    {% endif %}
</body>
</html>
