{% extends "index.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<section id="intro">
    {% if confirmed == True and already == False %}
        <h3>Email Confirmed!</h3>
        <h1>Welcome to Libly</h1>
        <a href="/"><button>Go to home</button></a>
    {% elif confirmed == True and already == True %}
        <h1>This account has been already activated.</h1>
        <a href="/"><button>Homepage</button></a>
    {% else %}
        <h3>Email Confirmation failed.</h3>
        <button>Resend email</button>
    {% endif %}
</section>
{% endblock %}
