{% extends 'logged.html' %}
{% block title %} 
    {% if admin %}
        Admin panel
    {% else %}
        Home 
    {% endif %}
{% endblock %}

{% block head %}
    <link rel="icon" href="../static/images/logo-maybe.svg">
    <link rel="stylesheet" href="../static/styles/feed.css">
{% endblock %}
{% block body %}
{% if admin %}
    <section id="manage-list">   
        <h2>Click on any card to manage</h2>
        <a href="manage/authors"><section class="quote">
                <h4>Manage Authors</h4>
        </section></a>
        <a href="manage/books"><section class="quote">
            <h4>Manage Books</h4>
        </section></a>
        <a href="manage/genres"><section class="quote">
            <h4>Manage Genres</h4>
        </section></a>
        <a href="manage/reviews"><section class="quote">
            <h4>Manage Reviews</h4>
        </section></a>
        <a href="manage/users"><section class="quote">
            <h4>Manage Users</h4>
        </section></a>
        <a href="https://wa.me/+250787399841"><section class="quote">
            <h4>Made with love</h4>
        </section></a>
    </section>
{% else %}
    <section id="feed">
        <nav id="views-menu">
            <button id="authors"><a href="/authors">All Authors</a></button>
            <button id="books"><a href="/books">All Books</a></button>
            <button id="genres"><a href="/genres">All Genres</a></button>
        </nav>       
        <h2>Random quotes from books</h2>
        <section class="random-quotes">
            <section class="quote">
                <p>This is some mockup quote that has no meaning at all, for the sake of static design</p>
                <button>From: | Unknown</button>
            </section>
            <section class="quote">
                <p>This is some mockup quote that has no meaning at all, for the sake of static design</p>
                <button>From: | Unknown</button>
            </section>
            <section class="quote">
                <p>This is some mockup quote that has no meaning at all, for the sake of static design</p>
                <button>From: | Unknown</button>
            </section>
        </section>
        <h2>Books you may like</h2>
        <section class="suggested">
            {% for book in books %}
                <section class="suggested-book">
                    <img src="../static/images/{{ book.pic }}">
                    <h4>Title: {{ book.title }}</h4>
                    <b>Description:</b>
                    <p>
                        {{ book.description }}
                    </p>
                        <button><a href="/read/{{ book.id }}">Read</a></button>
                </section>
            {% endfor %}
        </section>
        <!--<section class="review-activity">
            <h2>Recent activity</h2>
        </section>-->
    </section>
{% endif %}
<aside id="user-menu">
    <section class="history">
        <h2>Continue reading</h2>
        <section class="history-book">
            <button>Arsene Lupin | -> </button>
        </section>
        <section class="history-book">
            <button>A Study in Scarlet | -> </button>
        </section>
    </section>
    <section class="options">
        <button id="dark">Dark mode</button>
        <button id="help">Help and support</button>
        <button id="settings">Settings</button>
        <button id="log-out">Log out</button>
    </section>
</aside>
{% endblock %}
