{% extends 'logged.html' %}
{% block title %} 
    {% if admin %} Admin panel {% else %} Home {% endif %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/styles/feed.css?{{ uuid }}">
{% endblock %}

{% block body %}
{% if admin %}
    <h2>Click on any card to manage</h2>
    <section id="manage-list">   
        <a href="manage/authors"><section class="quote"><h4>Manage Authors</h4> </section></a>
        <a href="manage/books"><section class="quote"> <h4>Manage Books</h4> </section></a>
        <a href="manage/genres"><section class="quote"> <h4>Manage Genres</h4> </section></a>
        <a href="manage/reviews"><section class="quote"> <h4>Manage Reviews</h4> </section></a>
        <a href="manage/users"><section class="quote"> <h4>Manage Users</h4> </section></a>
        <a href="/statistics"><section class="quote"> <h4>View Statistics</h4> </section></a>
    </section>
    <h2 style="margin: 50px 20px;">Directories</h2>
    <section>
        <nav id="views-menu" class="options" style="margin: 10px auto;">
            <a href="/authors"><button id="authors">All Authors</button></a>
            <a href="/books"><button id="books">All Books</button></a>
            <a href="/genres"><button id="genres">All Genres</button></a>
        </nav>
    </section>
{% else %}
    {% if error %}
        <section class="suggested">
            <h3>{{ error }}</h3>
        </section>
    {% else %}
        <section id="feed">
            <nav id="views-menu" class="options">
                <a href="/authors"><button id="authors">All Authors</button></a>
                <a href="/books"><button id="books">All Books</button></a>
                <a href="/genres"><button id="genres">All Genres</button></a>
            </nav>       
            <h2>Books you may like</h2>
            <section class="suggested">
                {% for book in books %}
                    <section class="suggested-book">
                        <img src="/static/images/{{ book.pic }}?{{ uuid }}">
                        <h4>Title: {{ book.title }}</h4>
                        <b>Description:</b>
                        <p>
                            {{ book.description }}
                        </p>
                        <a href="/read/{{ book.id }}" onclick="localStorage.setItem('{{ book.title }}', '{{ book.id }}@{{ book.pic }}')">
                            <button>Read</button>
                        </a>
                        <form method="POST" action="{{ url_for('client_view.book_info') }}">
                            <button name="id" value="{{ book.id }}">Book info and reviews</button>
                        </form>
                    </section>
                {% endfor %}
            </section>
            <h2>Quotes from books</h2>
            <section class="random-quotes">
                <section class="quote">
                    <p>This feature is not yet ready. Coming soon.</p>
                    <button><a href="/books">Go to books</a></button>
                </section>
            </section>
            <h2>Recent activity</h2>
            <section id="review-activity">

            </section>
        </section>
        <script>
            let reviewActivity = document.getElementById('review-activity');
            let reviews = document.createElement('section');
            let books = document.createElement('section');
            let reviewsTitle = document.createElement('h4');
            let booksTitle = document.createElement('h4');

            reviews.id = 'reviews';
            books.id = 'books-activity';
            reviewActivity.appendChild(reviews);
            reviewActivity.appendChild(books);
            books.appendChild(booksTitle);
            reviews.append(reviewsTitle);

            fetch('https://usernet.tech/api/v1/reviews')
                .then(function (response) { return response.json() })
                .then(function (data) {
                    if (!data.error) {
                        reviewsTitle.textContent = 'Recent reviews:';

                        for (let i in data) {
                            let review = document.createElement('section');
                            let reviewText = document.createElement('p');
                            let owner = document.createElement('section');
                            let avatar = document.createElement('img');
                            let name = document.createElement('p');
                            let link = document.createElement('a');
                            let identifier = document.createElement('p');

                            fetch(`https://usernet.tech/api/v1/books/${data[i].data.book_id}`)
                                .then(function(response) { return response.json() })
                                .then(function(bookData) {
                                    if (!bookData.error) {
                                        for (k in bookData) {
                                            identifier.innerHTML = `Reviewing on: <b>${bookData[k].data.title}</b>`;
                                            identifier.style.fontStyle = 'italic';
                                        }
                                    }
                                });

                            fetch(`https://usernet.tech/api/v1/users/${data[i].data.user_id}`)
                                .then(function(response) { return response.json() })
                                .then(function(userData) {
                                    if (!userData.error) {
                                        for (let j in userData) {
                                            avatar.src = `https://usernet.tech/static/images/${userData[j].data.pic}`;
                                            name.textContent = `${userData[j].data.first_name} ${userData[j].data.middle_name} ${userData[j].data.last_name}`;
                                            name.className = 'name';
                                            link.href = `/profile/${userData[j].data.id}`;
                                            link.appendChild(avatar);
                                        }
                                    }
                                });

                            owner.className = 'owner';
                            owner.appendChild(link);
                            reviewText.appendChild(name);
                            reviewText.appendChild(identifier);
                            reviewText.append(data[i].data.text);
                            reviewText.className = 'text';
                            review.className = 'review';
                            review.appendChild(owner);
                            review.appendChild(reviewText);
                            reviews.appendChild(review);
                        }
                    } else {
                        reviewsTitle.textContent = 'No recent reviews';
                    }
                });

            fetch('https://usernet.tech/api/v1/books')
                .then(function (response) { return response.json() })
                .then(function (data) {
                    if (!data.error) {
                        booksTitle.textContent = 'Recently added books';
                        for (let i in data) {
                            let book = document.createElement('section');
                            let button = document.createElement('button');

                            button.textContent = data[i].data.title;
                            button.addEventListener('click', function () {
                                window.location.href = `/read/${data[i].data.id}`;
                                localStorage.setItem(`${data[i].data.title}`, `${data[i].data.id }@${data[i].data.pic }`);
                            });

                            book.className = 'history-book';
                            book.style.backgroundImage = `url('/static/images/${data[i].data.pic}')`;
                            button.style.margin = '20px';
                            button.style.maxWidth = '240px';
                            book.appendChild(button);
                            books.append(book);
                        }
                    } else {
                        booksTitle.textContent = 'No new books';
                    }
                });
        </script>
    {% endif %}
{% endif %}
{% endblock %}
