{% extends 'logged.html' %}
{% block title %} 
    {% if admin %}
        Admin panel
    {% else %}
        Home 
    {% endif %}
{% endblock %}

{% block head %}
    <link rel="icon" href="/static/images/logo-maybe.svg">
    <link rel="stylesheet" href="/static/styles/feed.css">
{% endblock %}
{% block body %}
{% if admin %}
    <section id="manage-list">   
        <h2>Click on any card to manage</h2>
        <a href="manage/authors"><section class="quote">
                <h4>Manage Authors</h4>
        </section></a>
        <a href="manage/books"><section class="quote">
            <h4>Manage Books</h4>
        </section></a>
        <a href="manage/genres"><section class="quote">
            <h4>Manage Genres</h4>
        </section></a>
        <a href="manage/reviews"><section class="quote">
            <h4>Manage Reviews</h4>
        </section></a>
        <a href="manage/users"><section class="quote">
            <h4>Manage Users</h4>
        </section></a>
        <a href="statistics"><section class="quote">
            <h4>View Statistics</h4>
        </section></a>
    </section>
{% else %}
    {% if error %}
        <section class="suggested">
            <h3>{{ error }}</h3>
        </section>
    {% else %}
        <section id="feed">
            <nav id="views-menu" class="options">
                <button id="authors"><a href="/authors">All Authors</a></button>
                <button id="books"><a href="/books">All Books</a></button>
                <button id="genres"><a href="/genres">All Genres</a></button>
            </nav>       
            <h2>Books you may like</h2>
            <section class="suggested">
                {% for book in books %}
                    <section class="suggested-book">
                        <img src="/static/images/{{ book.pic }}">
                        <h4>Title: {{ book.title }}</h4>
                        <b>Description:</b>
                        <p>
                            {{ book.description }}
                        </p>
                        <button>
                            <a href="/read/{{ book.id }}" onclick="localStorage.setItem('{{ book.title }}', '{{ book.id }}_{{ book.pic }}')">Read</a>
                        </button>
                    </section>
                {% endfor %}
            </section>
            <h2>Quotes from books</h2>
            <section class="random-quotes">
                <section class="quote">
                    <p>This feature is not yet ready. Coming soon.</p>
                    <button><a href="/books">Go to books</a></button>
                </section>
            </section>
            <!--<section class="review-activity">
                <h2>Recent activity</h2>
            </section>-->
        </section>
    {% endif %}
{% endif %}
<aside id="user-menu">
    <section id="history" class="history">
        <h2>Continue reading</h2>
    </section>
    <section class="options">
        <button id="dark">Dark mode</button>
        <button id="help">Help and support</button>
        <button id="settings">Settings</button>
        <button id="log-out">Log out</button>
    </section>
</aside>
{% endblock %}
