{% extends 'logged.html' %}
{% block title %} 
    My favs ❤️
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/styles/author_genre.css">
{% endblock %}
{% block body %}
    <section id="about-book">
        {% if fav_authors|length == 0 and fav_books|length == 0 and fav_genres == 0 %}
            <h3>Sorry. You haven't marked any favorites yet.</h3>
        {% else %}
            <h3>Hi {{ name }}! Here are your favorites ❤️</h3>
            {% if fav_books|length > 0 %}
                <h4>Books</h4>
                <section class="book_list">
                    {% for i in fav_books %}
                        <section class="book history">
                            <img src="/static/images/{{ i.pic }}"><br>
                            <a href="/read/{{ i.id }}"  onclick="localStorage.setItem('{{ i.title }}', '{{ i.id }}_{{ i.pic }}')">
                                <button><span>Read</span>{{ i.title }}</button>
                            </a>
                            <form method="POST" action="{{ url_for('client_view.book_info') }}">
                                <button name="id" value="{{ i.id }}">Book info & reviews</button>
                            </form>
                        </section>
                    {% endfor %}
                </section>
            {% endif %}

            {% if fav_authors|length > 0 %}
                <h4>Authors</h4>
                <section class="book_list">
                    {% for i in fav_authors %}
                        <section class="book history">
                            <img src="/static/images/{{ i.pic }}"><br>
                            <h4> {{ i.first_name }} {{ i.last_name }} </h4>
                            <a href="/author/{{ i.id }}">
                                <button>See author's books</button>
                            </a>
                        </section>
                    {% endfor %}
                </section>
            {% endif %}

            {% if fav_genres|length > 0 %}
                <h4>Genres</h4>
                <section class="book_list">
                    {% for i in fav_genres %}
                        <section class="book history">
                            <img src="/static/images/{{ i.pic }}"><br>
                            <h4>{{ i.name }}</h4>
                            <a href="/genre/{{ i.id }}">
                                <button>See books in this genre</button>
                            </a>
                        </section>  
                    {% endfor %}
                </section>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}
