{% extends 'logged.html' %}
{% block title %} 
    My favs
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/static/styles/author_genre.css">
{% endblock %}
{% block body %}
    <section id="about-book">
        {% if fav_authors|length == 0 and fav_books|length == 0 and fav_genres == 0 %}
            <h3>Sorry. You haven't marked any favorites yet.</h3>
        {% else %}
            <h3>Hi! Here are your favorites</h3>
            {% if fav_books|length > 0 %}
                <section class="book_list">
                    <h4>Books</h4>
                    {% for i in fav_books %}
                        <section class="book history">
                            {% for item in i %}
                                <img src="/static/images/{{ i[item].pic }}"><br>
                                <a href="/read/{{ i[item].id }}"><button><span>Read</span>{{ i.title }}</button></a>
                                <form method="POST" action="{{ url_for('client_view.book_info') }}">
                                    <button name="id" value="{{ i[item].id }}">Book info & reviews</button>
                                </form>
                            {% endfor %}
                        </section>
                    {% endfor %}
                </section>
            {% endif %}

            {% if fav_authors|length > 0 %}
                <section class="book_list">
                    <h4>Authors</h4>
                    {% for i in fav_authors %}
                        <section class="book history">
                            {% for item in i %}
                                <img src="/static/images/{{ i[item].pic }}"><br>
                                <a href="/author/{{ i[item].id }}"><button>See author's books</button></a>
                            {% endfor %}
                        </section>
                    {% endfor %}
                </section>
            {% endif %}

            {% if fav_genres|length > 0 %}
                <section class="book_list">
                    <h4>Genres</h4>
                    {% for i in fav_books %}
                        <section class="book history">
                            {% for item in i %}
                                <img src="/static/images/{{ i[item].pic }}"><br>
                                <a href="/genre/{{ i[item].id }}"><button>See books in this genre</button></a>
                            {% endfor %}
                        </section>  
                    {% endfor %}
                </section>
            {% endif %}
        {% endif %}
    </section>
{% endblock %}
