{% extends 'logged.html' %}
{% block title %}Hot on {% endblock %}
{% block head %}
    <link rel="stylesheet" href="../static/styles/author_genre.css?{{ uuid }}">
{% endblock %}
{% block body %}
    <section id="about-book">
        <section id="book_list">
            {% for i in hot_books %}
                <section class="book history">
                    <img src="/static/images/{{ i.pic }}?{{ uuid }}"><br>
                    <b>{{ i.reviews_count }} reviews</b><br>
                    <a href="/read/{{ i.id }}"  onclick="localStorage.setItem('{{ i.title }}', '{{ i.id }}_{{ i.pic }}')">
                        <button><span>Read</span>{{ i.title }}</button>
                    </a>
                    <form method="POST" action="{{ url_for('client_view.book_info') }}">
                        <button name="id" value="{{ i.id }}">Book info & reviews</button>
                    </form>
                </section>
            {% endfor %}
        </section>
    </section>
{% endblock %}
