{% extends 'logged.html' %}
{% block title %}
    {% if info %} {{ info.title }} {% else %} Info {% endif %}
{% endblock %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js?{{ uuid }}"></script>
    <script src="/static/scripts/info.js?{{ uuid }}"></script>
    <link rel="stylesheet" href="/static/styles/info.css?{{ uuid }}">
{% endblock %}
{% block body %}
{% if info %}
<section id="about-book" class="history">

    <section id="description">
        <img src="/static/images/{{ info.pic }}?{{ uuid }}" alt="{{ info.title }}'s cover image">
        <article>
            <h4> Title: {{ info.title }} </h4> 
            <h5>Description:</h5>
            <p>
                {{ info.description }}
            </p>
        </article>
    </section>
    <nav>
        <button class="read">
            <a href="/read/{{ info.id }}" onclick="localStorage.setItem('{{ info.title }}', '{{ info.id }}@{{ info.pic }}')">
                Read book
            </a>
        </button>
        <button id="love" fav="books" type-id="{{ info.id }}"></button><br>
        <button class="read">
            <a href="/static/books/{{ info.file_name }}" onclick="localStorage.setItem('{{ info.title }}', '{{ info.id }}@{{ info.pic }}')">
                Download
            </a>
        </button>
    </nav>

    {% if reviews %}
        <section id="reviews-header"><b>Reviews</b></section>
        <section id="reviews">
            {% for i in range(reviews|length) %}
                <section class="review">
                    <section class="owner" id="{{ i }}_{{ reviews[i].user_id }}">

                    </section>
                    <p class="text">{{ reviews[i].text }}</p>
                </section>
            {% endfor %}
        </section>
    {% endif %}
    <section id="make-review">
        <h4>Have you read this book?<br>Other readers will love your review!</h4>
        <form id="{{ info.id }}">
            <textarea id="message" rows="4" cols="50"></textarea><br>
            <button id="create"></button>   
        </form>
    </section>
</section>
{% else %}
<section>
    <h2>Hi there! You haven't specified a book to view info on.</h2>
    <h4>Here is a selection of books that might interest you.</h4>
    <section id="search_results">
    </section>
</section>
{% endif %}
{% endblock %}
