{% extends 'logged.html' %}
{% block title %}
    {% if info %} {{ info.title }} {% else %} Info {% endif %}
{% endblock %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/scripts/info.js"></script>
    <link rel="stylesheet" href="../static/styles/info.css">
{% endblock %}
{% block body %}
{% if info %}
<section id="about-book" class="history">

    <section id="description">
        <img src="/static/images/{{ info.pic }}">
        <article>
            <h4> Title: {{ info.title }} </h4> 
            <h5>Description</h5>
            <p>
                {{ info.description }}
            </p>
        </article>
    </section>
    {% if reviews %}
        <h4 style="margin-left: 10px;">Reviews</h4>
        <section id="reviews">
            {% for i in range(reviews|length) %}
                <section class="review">
                    <img id="{{ i }}_{{ reviews[i].user_id }}" />
                    <p>{{ reviews[i].text }}</p>
                </section>
            {% endfor %}
        </section>
    {% endif %}
    <section id="make-review">
        <h4>Have you read this book?<br>Other readers will love your review!</h4>
        <form id="{{ info.id }}">
            <textarea id="message" rows="4" cols="50"></textarea><br>
            <button id="create">Comment</button>   
        </form>
    </section>
</section>
{% else %}
<section>
    <h2>Hi there! You haven't specified a book to view info on.</h2>
    <h4>Here is a selection of books that might interest you.</h4>
    <section id="search_results">
    </section>
</section>
{% endif %}
<aside>
    <section class="history">
        <h2>Continue reading</h2>
        <section class="history-book">
            <button>Arsene Lupin | -></button>
        </section>
        <section class="history-book">
            <button>A Study in Scarlet | -></button>
        </section>
    </section>
    <section class="options">
        <button id="dark">Dark mode</button>
        <button id="help">Help and support</button>
        <button id="settings">Settings</button>
        <button id="log-out">Log out</button>
    </section>
</aside>
{% endblock %}
