<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}| Libly</title>
    <script src="/static/scripts/dark_mode.js"></script>
    <script src="/static/scripts/user_manager.js"></script>
    <link rel="icon" href="/static/images/logo-maybe.svg">
    <link rel="stylesheet" href="/static/styles/logged_in_header.css">
    {% block head %}{% endblock %}
</head>
<body>
    {% block header %}
    <header>
        <nav id="search">
            <a id="site_logo" href="/"><div></div></a>
            <form method="POST" action="{{ url_for('home') }}">
                <input type="search" name="keywords" placeholder="search for anything" required>
                <div id="submit">
                    <input type="submit" id="book-grab" value="">
                    <label for="book-grab" id="grab"></label>
                </div>
            </form>
        </nav>
        <nav id="main">
            <a href="/"><button id="main-icon"></button></a>
        </nav>
        <button id="avatar" style="background-image: url('/static/images/{{ pic }}');"></button>
    </header>
    {% endblock %}
    <main>
    {% block body %}{% endblock %}
        <aside id="user-menu">
            <section id="history" class="history">
                <h2>Continue reading</h2>
            </section>
            <section class="options">
                <button id="dark">Dark mode</button>
                <button id="help">Help and support</button>
                <button id="settings">Settings</button>
                <button id="log-out">Log out</button>
            </section>
        </aside>
    </main>
</body>
</html>
