<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}| Libly</title>
    <link rel="stylesheet" href="../static/styles/logged_in_header.css">
    {% block head %}{% endblock %}
</head>
<body>
    {% block header %}
    <header>
        <nav id="search">
            <div id="site_logo"></div>
            <form method="POST">
                <input type="search" id="search" name="keywords">
                <div id="submit">
                    <input type="submit" id="book-grab" value="">
                    <label for="book-grab" id="grab"></label>
                </div>
            </form>
        </nav>
        <nav id="main">
            <button id="main-icon"></button>
            <button id="trending-icon"></button>
            <button id="book-icon"></button>
        </nav>
        <nav id="user">
            <button id="notification-icon"></button>
            <button id="avatar"></button>
        </nav>
    </header>
    {% endblock %}
    {% block body %}{% endblock %}
</body>
</html>
