{% extends 'logged.html' %}
{% block title %}Onboarding {{ first_name }} {% endblock %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js?{{ uuid }}"></script>
    <script src="/static/scripts/onboarding.js?{{ uuid }}"></script>
    <link rel="stylesheet" href="/static/styles/author_genre.css?{{ uuid }}">
{% endblock %}
{% block body %}
<section id="about-book">
    <section style="width: fit-content; margin: auto;" class="history">
        {% if error %}
            <h3> {{ error }} </h3>
        {% else %}
            <h3>Hi {{ first_name }}!</h3>
        {% endif %}
        <h4>
            This process helps personalize your experience on the platform.<br><br>
            Helps us by selecting your favorite genres.
        </h4>
    </section>
    <section id="selection" style="display: flex; flex-wrap: wrap;">
        {% for i in genres %}
            <section class="book history">
                <img src="/static/images/{{ i.pic }}?{{ uuid }}"><br>
                <button id="{{ i.id }}"> {{ i.name }} </button>
            </section>
        {% endfor %}      
    </section>
    <form method="POST" style="width: fit-content; margin: auto;" class="history">
        <button name="done" value=0 id="done"> 🏃 Done!</button>
    </form>
</section>
{% endblock %}
