{% extends 'index.html' %}
{% block title %} Reset password {% endblock %}

{% block head %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js?{{ uuid }}"></script>
    <script type="module" src="/static/scripts/password_reset.js"></script>
{% endblock %}

{% block header %}
    <a href="{{ url_for('home') }}?{{ uuid }}"><button>Home</button></a>
    <a href="{{ url_for('client_view.login') }}?{{ uuid }}"><button>Login</button></a>
    <a href="{{ url_for('client_view.signup') }}?{{ uuid }}"><button>Sign up</button></a>
{% endblock %}

{% block body %}
    <form id="reset">
        <input type="email" placeholder="Your email" required>
    </form>
    <script>
    </script>
{% endblock %}
