{% extends 'logged.html' %}
{% block title %}
   {{ first_name }} {{ last_name }}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/styles/manage_resource.css">
    <style>
        #confirm {
            width: 30%;
            border-radius: 15px;
            background-color: none;
            backdrop-filter: blur(10px);
            display: flex;
            flex-direction: column;
            padding: 20px;
        }

        #confirm input {
            border-radius: 30px;
            border: none;
            background-color: #F0F2F5;
            padding: 10px;
            margin: 5px 0px;
        }

        .error {
            background-color: rgba(255, 0, 0, 0.39);
            max-width: 40%;
            padding: 10px;
            border-radius: 10px;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
    {% if error %}
        <h3 class="error">{{ error }}</h3>
    {% endif %}
    <form id="confirm" method="POST" enctype="multipart/form-data">
        <h4>Hello {{ first_name }} {{ last_name }}!</h4>
        <h5> Let's set up your account details </h5>
        <input type="email" name="email" placeholder="your email" autocomplete="off" required>
        <input type="text" name="first_name" placeholder="first name" required>
        <input type="text" name="middle_name" placeholder="middle name">
        <input type="text" name="last_name" placeholder="last name" required>
        <h6>Wanna have your own profile picture? Upload it here.</h6>
        <input type="file" name="pic" required>
        <h6>If you want to change your password, insert your new password here</h6>
        <input type="password" name="old_password" placeholder="current password" autocomplete="off" required>
        <input type="password" name="new_password" placeholder="new password" autocomplete="off" required>
        <button type="submit">Done!</button>
    </form>
    <button id="dark"></button>
{% endblock %}
