{% extends 'logged.html' %}
{% block title %}
   {{ first_name }} {{ last_name }}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../static/styles/manage_resource.css">
    <style>
        #confirm {
            width: 30%;
            border-radius: 15px;
            background-color: none;
            backdrop-filter: blur(10px);
            display: flex;
            flex-direction: column;
            padding: 20px;
        }

        #confirm input {
            border-radius: 30px;
            border: none;
            background-color: #F0F2F5;
            padding: 10px;
            margin: 5px 0px;
        }
    </style>
{% endblock %}

{% block body %}
    <form id="confirm" method="POST" enctype="multipart/form-data">
        <h4>Hello {{ first_name }} {{ last_name }} </h4>
        <input type="email" name="email" placeholder="your email" autocomplete="off">
        <input type="text" name="first_name" placeholder="first name">
        <input type="text" name="middle" placeholder="middle name">
        <input type="text" name="last_name" placeholder="last name">
        <h6>Wanna have your own profile picture? Upload it here.</h6>
        <input type="file" name="pic">
        <h6>If you want to change your password, insert your new password here</h6>
        <input type="password" name="old_password" placeholder="current password" autocomplete="off">
        <input type="password" name="password" placeholder="new password" autocomplete="off">
        <button type="submit">Done!</button>
    </form>
    <button id="dark"></button>
{% endblock %}
