{% extends 'logged.html' %}
{% block title %}
   {{ first_name }} {{ last_name }}
{% endblock %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js?{{ uuid }}"></script>
    <link rel="stylesheet" href="/static/styles/manage_resource.css?{{ uuid }}">
    <style>
        main {
            height: fit-content;
        }

        #confirm {
            width: 50%;
            color: white;
            border: 1px solid white;
            border-radius: 15px;
            background-color: none;
            backdrop-filter: blur(20px);
            display: flex;
            flex-direction: column;
            padding: 20px;
            z-index: 100;
        }

        #confirm input {
            border-radius: 30px;
            border: none;
            background-color: #F0F2F5;
            padding: 10px;
            margin: 5px 0px;
        }

        #trash {
            background-color: inherit;
            background-image: url('/static/images/trash-icon.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;
            border-radius: 30px;
        }

        .error {
            background-color: rgba(255, 0, 0, 0.39);
            max-width: 40%;
            padding: 10px;
            border-radius: 10px;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
    {% if error %}
        <h3 class="error">{{ error }}</h3>
    {% endif %}
    <form id="confirm" method="POST" enctype="multipart/form-data">
        <h4>Hello {{ first_name }} {{ last_name }}!</h4>
        <h5> Let's set up your account details </h5>
        <input type="email" name="email" placeholder="your email" autocomplete="off" required>
        <input type="text" name="first_name" placeholder="first name" required>
        <input type="text" name="middle_name" placeholder="middle name">
        <input type="text" name="last_name" placeholder="last name" required>
        <h6>Wanna have your own profile picture? Upload it here.</h6>
        <input type="file" name="pic" required>
        <input type="password" name="old_password" placeholder="your password" autocomplete="off" required>
        <h6>If you want to change your password, insert your new password here</h6>
        <input type="password" name="new_password" placeholder="new password" autocomplete="off">
        <button type="submit">Done!</button>
    </form>
    <section>
        <button id="trash"></button>
    </section>
    <script>
        const form = document.createElement('section');
        const trash = document.getElementById('trash');
        let passInput = document.createElement('input');
        let errorInfo = document.createElement('p');
        $(passInput).attr('placeholder', 'Input your admin password');
        $(errorInfo).text('An error code was returned. Make sure your password is right and try again.');
        $(errorInfo).css({'color': 'red', 'font-weight': 'bolder', 'display': 'none', 'margin': 'auto'});
        $(errorInfo).attr('id', 'error-info');
        $(passInput).attr('type', 'password');
        $(form).attr({'class': 'confirm'});
        $(document.querySelector('main')).append(form);

        $(trash).click(function () {
            let is = confirm('Are you sure you want to delete this account? This action can not be undone!');
            if (is === true) {
                let button = document.createElement('button');
                const cancel = document.createElement('button');
                $(cancel).attr('class', 'cancel');
                $(cancel).text('X');
                $(cancel).click(function () {
                    $(form).css('display', 'none');
                });
                $(button).text('Confirm');
                $(form).css({
                    'top': '80px', 'display': 'flex', 'position': 'relative', 'top': '0', 'left': '0'
                });
                $(form).html([cancel, passInput, button, errorInfo]);
                $(button).click(function () {
                    $.ajax({
                        type: 'DELETE',
                        headers: { 'Content-Type': 'application/json' },
                        data: JSON.stringify({"password": $(passInput).val()}),
                        url: `https://usernet.tech/api/v1/users/${getUserId()}`,
                        success: function (data, textStatus) {
                            alert("Account deleted");
                            window.location.href = '/';
                        }
                    });
                    $(document).on('ajaxError', function () {
                        $('#error-info').css({ 'display': 'block' });
                    });
                });
            }
        });

        function getUserId() {
            let cookieArray = document.cookie.split(';');

            for (let i = 0; i < cookieArray.length; i++) {
                let cookie = cookieArray[i].trim();
                if (cookie.indexOf('user_id') == 0) {
                    return cookie.substring(('=user_id').length, cookie.length);
                }
            }
        }
    </script>
{% endblock %}
