{% extends 'logged.html' %}
{% block title %}
    {% if stats %}
        Stats in format
    {% elif numbers %}
        Stats in numbers
    {% else %}
        Select days
    {% endif %}
{% endblock %}

{% block head %}
    {% if not numbers and not stats %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js?{{ uuid }}"></script>
    {% endif %}
    <link rel="stylesheet" href="/static/styles/manage_resource.css?{{ uuid }}">
    <style>
        .confirm {
            box-shadow: none;
            border-radius: 15px;
            display: block;
            position: relative;
            left: 0;
            margin-left: -20px;
            flex-direction: column;
        }

        h2 {
            margin: 20px 0;
        }

        table {
            margin: 50px 0px;
            border-collapse: collapse;
        }

        table th, table td {
            text-align: left;
            border: 1px solid grey;
            width: 200px;
            padding: 10px;
            border-radius: 10px !important;
        }

        .change {
            display: block;
        }

    </style>
{% endblock %}

{% block body %}
    <h2>Hi {{ name }}!</h2>

    {% if numbers %}
        {% if days %}
            <h2>Here are the numbers from the last {{ days }} {% if days == 1 %} day {% else %} days {% endif %}:</h2>
        {% elif month %}
            <h2>Here are the statistics from {{ month_name }}</h2>
        {% elif year %}
            <h2>Here are the statistics from the year {{ year }}</h2>
        {% endif %}

        <table>
            <th>Resource type</th>
            <th>Count</th>
            {% for i in numbers %}
            <tr>
                <td>New {{ i }}</td>
                <td> {{ numbers[i] }} </td>
            </tr>
            {% endfor %}
        </table>

        <form class="change" method="POST" action="{{ url_for('client_view.get_statistics') }}">
            {% if days %}
                <input type="text" name="time" value="days" style="display: none;">
                <button name="number" value="{{ days }}">Pretty printed format</button>
            {% elif month %}
                <input type="text" name="time" value="month" style="display: none;">
                <button name="number" value="{{ month }}">Pretty printed format</button>
            {% elif year %}
                <input type="text" name="time" value="year" style="display: none;">
                <button name="number" value="{{ year }}">Pretty printed format</button>
            {% endif %}
        </form>

    {% elif stats %}
        {% if days %}
            <h2>Here are the numbers from the last {{ days }} {% if days == 1 %} day {% else %} days {% endif %}:</h2>
        {% elif month %}
            <h2>Here are the statistics from {{ month_name }}</h2>
        {% elif year %}
            <h2>Here are the statistics from the year {{ year }}</h2>
        {% endif %}

        <section id="results">

            {% for j in stats %}
                
                {% if j == "authors" %} <h3>Authors</h3>
                {% elif j == "books" %} <h3>Books</h3>
                {% elif j == "genres" %} <h3>Genres</h3>
                {% elif j == "reviews" %} <h3>Reviews</h3>
                {% else %} <h3>Users</h3>
                {% endif %}

                {% if stats[j]|length > 0 %}
                    {% for i in stats[j] %}
                        <section class="resource">
                            {% if j == "authors" or j == "users" %} <h4>{{ i.first_name }} {{ i.last_name }}</h4>
                            {% elif j == "books" %} <h4> {{ i.title }} </h4>
                            {% elif j == "genres" %} <h4> {{ i.name }} </h4>
                            {% else %} <h4> {{ i.text }} </h4>
                            {% endif %}
                            <section class="data">
                                {% if j != "reviews" %}
                                <img src="/static/images/{{ i.pic }}?{{ uuid }}">
                                {% endif %}
                            </section>
                        </section>   
                    {% endfor %}
                {% else %}
                    <section class="resource">
                        <h4>No new {{ j }} from this time period</h4>   
                    </section>
                {% endif %}
            {% endfor %}
            <form class="change" method="POST" action="{{ url_for('client_view.get_statistics_numbers') }}">
                {% if days %}
                    <input type="text" name="time" value="days" style="display: none;">
                    <button name="number" value="{{ days }}">Table format</button>
                {% elif month %}
                    <input type="text" name="time" value="month" style="display: none;">
                    <button name="number" value="{{ month }}">Table format</button>
                {% elif year %}
                    <input type="text" name="time" value="year" style="display: none;">
                    <button name="number" value="{{ year }}">Table format</button>
                {% endif %}
            </form>
        </section>

    {% else %}
        {% if error %}
            <h4 class="error"> {{ error }} </h4>
        {% endif %}
        <h2 id="dialogue">Which duration would you like a report on?</h2>
        <form id="prompt" class="confirm" method="POST">
            <input type="radio" name="time" value="days" id="days" required> <label for="days">Days</label><br>
            <input type="radio" name="time" value="month" id="month" required> <label for="month">Month</label><br>
            <input type="radio" name="time" value="year" id="year" required> <label for="year">Year</label><br>
            <input type="tel" name="number" value=1 id="number" required>
            <button>Get</button>
        </form>
        <script>
            $('#prompt input[type=radio]').click(function () {
              if ($(this).val() == 'days') {
                $('#dialogue').text(`Getting report from ____ ${$(this).val()}`);
              }
              else {
                $('#dialogue').text(`Getting report from ${$(this).val()} ____`);
              }
            });
      
            $('#number').on('input', function () {
              if ($('#prompt input[type=radio]:checked').val() == 'days') {
                $('#dialogue').text(`Getting report from ${$('#number').val()} ${$('#prompt input[type=radio]:checked').val()}`);
              }
              else {
                  $('#dialogue').text(`Getting report from ${$('#prompt input[type=radio]:checked').val()} ${$('#number').val()}`);
              }  
            });
          </script>
    {% endif %}
{% endblock %}
